<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIBaseURL</key>
	<string>https://api.theantidopingapp.com</string>
        <key>APIBaseURL_LOCAL</key>
        <string>localhost:8080</string>
	<key>SearchResultsPath</key>
	<string>searchresults/find?search=</string>
	<key>SearchDetailsPath</key>
	<string>searchdetails</string>
	<key>BarcodesPath</key>
	<string>barcodes</string>
</dict>
</plist>
